/* ========== Universal selector for applying styles to all elements. ========== */
:root {
    --fontStyle: font-family: "sans-serif", "trebuchet MS";  ;
}

* {
    box-sizing: border-box;
    font-family: "sans-serif", "trebuchet MS";
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: grey;
}
/* ========== Setting font size for all major headings as a percentage. ========== */

body {
    font-family: "sans-serif", "trebuchet MS";
    background-color: white;
}
/* ========== Fixed the position of the header ========== */
.headerContainer {
    position: fixed;
    max-height: 120px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    color: white;
    z-index: 1000;
}

.headerTitle {
    color: white;
    display: block;
    font-size: 300%;
    padding: 20px;
}

.logo {
    display: inline-flex;
    align-items: center;
}

#imageMe {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}
/* Tried & failed to do a toggle menu. */
#toggleMenu {
    position: absolute;

}

header nav {
    margin-right: 5%;
    float: right;
    font-family: "sans serif", "trebuchet MS";
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}
/*Targeting the a tag to give it white text, no underline and hover.*/
header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

header nav ul li a:hover {
    color: lightgray;
    cursor: pointer;
}

.banner {
    max-height: 300px;
    width: 100%;
    display: flex;
}
/*Added banner image, scaled object.*/
#imageBanner {
    width: 100%;
    max-height: 300px;
    object-fit:cover;
    display: block;
}
/*Grid which conatins all the elements of the page*/
.gridContainer {
    display: grid;
    grid-template-columns: 0.7fr 1.1fr 1.1fr 1.1fr;
    grid-template-rows: auto auto;
}
/*em based off size of section title*/
.gridContainer div {
    background-color: #eee;
    padding: 1em;
    margin: 20px;
}

.sectionTitle {
    position: relative;
    color: grey;
    font-size: 300%;
    text-align: left;
    z-index: -1;
}

/* Theses are the spans that help me to link with the nav bar, compressed it since it is repetitive */
#aboutMe {position:absolute;top:-120px;}
#works {position:absolute;top:-120px;}
#contactMe {position:absolute;top:-120px;}
#resume {position:absolute;top:-120px;}

.linkTitle {
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: grey;
}

.nonLinkTitle {
    font-size: 150%;
    font-weight: bold;
    color: black;
    padding: 0px;
    margin: 0px;
}

.linkTitle:hover {
    color: black;
}

#aboutMeDescription {
    grid-column: span 3;
}

#worksTitle {
    grid-row: span 2;
}

.worksDescription {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#worksDescriptionGroup {
    grid-column: span 2;
}

#imagePasswordGenerator, #imageSeo, #imagePopQuiz {
    border-radius: 1em;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}

#imageGroup1 {
    border-radius: 1em;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
}

#imagePasswordGenerator:hover, #imageSeo:hover, #imagePopQuiz:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 100ms;
    border: solid rgba(0, 0, 0, 0.5);
}

#imageGroup1:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 100ms;
    border: solid rgba(0, 0, 0, 0.5);
}

#imageResume {
    width: 200px;
    height: 200px;
    object-fit:scale-down;
}

#imageResume:hover {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.worksText {
    text-decoration: none;
}

#worksText {
    color: grey;
    font-size: 150%;
    padding: 20px;
}

#worksText:hover {
    color: rgba(0,0,0,1);
    cursor: pointer;
    transform: scale(1.03);

}

#contactMeDescription {
    grid-column: span 3;
}

.contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}

.resumeDescription {
    grid-column: span 3;
}

.resumeDescription div {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionTitle h2 {
    color: grey;
    font-size: 300%;
    padding-bottom: 200px;
    padding-right: 20px;
    float: right;
    border-right: 5px grey solid;
}

.bodyText p {
    text-align: unset;
    padding: 0.5em;
    font-size: 150%;
}

@media all and (max-width: 700px ) {
    .logo {
        position: absolute;
        display: none;
    }

    header nav ul li a {
        display: flex;
        flex-flow: column;
        margin: auto;
        padding: auto;
        font-size: 100%;
    }

    .bodyText {
        font-size: auto;
    }

    .sectionTitle {
        font-size: auto;
        color: red;
    }

    
}