/* ========== Universal selector for applying styles to all elements. ========== */
:root {
    --fontStyle: font-family: "sans-serif", "trebuchet MS";  ;
}

* {
    box-sizing: border-box;
    font-family: "sans-serif", "trebuchet MS";
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
/* ========== Setting font size for all major headings as a percentage. ========== */

body {
    font-family: "sans-serif", "trebuchet MS";
    background-color: white;
}
/* ========== Fixed the position of the header ========== */
.headerContainer {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    color: white;
}

.headerTitle {
    display: block;
    font-size: 300%;
    padding: 20px;
}

.logo {
    display: inline-flex;
    align-items: center;
}

#imageMe {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

#toggleMenu {
    position: absolute;

}

header nav {
    margin-right: 5%;
    float: right;
    font-family: "sans serif", "trebuchet MS";
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}
/*Targeting the a tag to give it white text, no underline and hover.*/
header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 150%;
}

header nav ul li a:hover {
    color: lightgray;
    cursor: pointer;
}

.banner {
    max-height: 300px;
    width: 100%;
    display: flex;
}
/*Added banner image, scaled object.*/
#imageBanner {
    width: 100%;
    max-height: 300px;
    object-fit:cover;
    display: block;
}
/*Grid which conatins all the elements of the page*/
.aboutMeContainer {
    display: grid;
    grid-template-columns: 0.7fr 1.1fr 1.1fr 1.1fr;
    grid-template-rows: auto auto;
}
/*em based off size of section title*/
.aboutMeContainer div {
    background-color: #eee;
    padding: 1em;
    margin: 20px;
}

.sectionTitle {
    color: grey;
    font-size: 300%;
    text-align: left;
}

.aboutMeDescription {
    grid-column: span 3;
}

#works {
    grid-row: span 2;
}

#imagePasswordGenerator {
    max-width: 100px;
    max-height: 100px;
    object-fit: scale-down;
}

.contactMeDescription {
    grid-column: span 3;
}

.resumeDescription {
    grid-column: span 3;
}

/*Added left section for titles.*/
.leftSide {
    display: flexbox;
    float: left;
    margin: 30px;
}

.sectionTitle h2 {
    color: grey;
    font-size: 300%;
    padding-bottom: 200px;
    padding-right: 20px;
    float: right;
    border-right: 5px grey solid;
}

.test {
    background-color: black;
    height: 1000px;
}

@media all and (max-width: 500px ) {
    .logo {
        position: absolute;
        display: none;
    }

    header nav ul li {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding: 0px 20px;
    }
}